-DMAVEN_OPTS="-XX:+UseZGC"

-Dmaven.plugin.validation=BRIEF

--fail-fast

-Dparallel=all
-DperCoreThreadCount=true

-Dstyle.color=always
-Djansi.force=true

-DCC=/usr/bin/gcc

-DWWW_DEBUG_PORT=5005
-DWWW_DEV_PORT=8080
-DWWW_TEST_PORT=8080

-DOTHER_DEBUG_PORT=5006
-DOTHER_DEV_PORT=8081
-DOTHER_TEST_PORT=8081







